* {
    box-sizing: border-box;
}

body {
    display: flex;
}


.library{
 flex: 1;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#bookIsRead {
    width: 10px;
    vertical-align:middle;
}

.books {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 10px;

    list-style: none;
}

.book-item {
    position: relative;
    background-color: #E0F2FE;
    padding: 8px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 30px 40px 30px 10px;
    gap: 8px;
}


.btn {
    padding: .4rem 1rem;
    text-align: center;
    border-radius: 10px;
}

.btn.add-book,
.btn.submit-btn {
    background-color: #000;
    color: #fff;
    margin: 0 4px;

}



input[id^='read'] + .btn.read-btn {
    align-self: center;

    background-color: #B91C1C;
    font-size: 1.2rem;
    
}
input[id^='read']:checked + .btn.read-btn {
    align-self: center;

    background-color: #164E63;
    font-size: 1.2rem;
    
}

input[type="checkbox"] + .read-btn span.read,
input[type="checkbox"]:checked + .read-btn span.not-read {
    display: none;
}
input[type="checkbox"]:checked + .read-btn span.read,
input[type="checkbox"] + .read-btn span.not-read {
    display: inline;
}

input[id^="read-"] {
    appearance: none;
}

.del {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
    padding: 2px 4px;
    background-color: #c5d5e0;
    border-radius: 50%;
    opacity: .6;
    font-weight: 600;
}

.del:hover {
    opacity: 1;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    right: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #aaaaaa;
    
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


.modal-content input {
    width: 200px;
}


